.SignInForm{
    background-color: white;
    width: 100%;
    height: 90vh;
}

.SignInFormH1{
    font-size: 4vh;
}

.SignInFormForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    width: 100%;
    height: 64vh;
}

.SignInFormFormInput{
    height: 8%;
    width: 44%;
    text-indent: 4%;
    color: #9E9E9E;
}

.SignInFormFormContainer{
    height: 4%;
    width: 44%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.SignInFormFormCheckbox{
    display: inline-block;
    margin-right: 2%;
}

.SignInFormFormCheckboxContainer{
    width: 44%;
    display: inline-block;
}

.SignInFormFormCheckboxLabel{
    display: inline-block;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.5vh;
    color: #616161;
}

.SignInFormFormForgotPasswordButton{
    display: inline-block;
    margin-left: 2%;
    border: white;
    background-color: white;
    font-size: 1.5vh;
    color: #616161;
    padding-bottom: 2%;
}

.SignInFormFormLink{
    height: 8%;
    width: 44%;
}

.SignInFormFormButton{
    height: 100%;
    width: 100%;
    background-color: #000033;
    border-color: #000033;
    color: white;
}
