.CatalogBlockCard{
    background-color: white;
    height: 34%;
    width: 24%;
    margin: 4%;
    float: left;
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.CatalogBlockCardContainer{
    height: 33%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CatalogBlockCardH1{
    font-size: 3vh;
    margin: 1%;
    margin-top: 7%;
}

.CatalogBlockCardText{
    display: inline-block;
    font-size: 1.5vh;
    margin: 4%;
    margin-right: 2%;
}

.CatalogBlockCardTextInText{
    display: inline-block;
    font-size: 2vh;
    margin: 4%;
    margin-left: 2%;
}

.CatalogBlockCardButton{
    width: 69%;
    height: 44%;
    background-color: #000033;
    border: none;
    color: white;
    font-size: 1vh;
    border-radius: 6px;
    margin: 1%;
}