.Footer{
    width: 100%;
    height: 22vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    grid-gap: 1%;
}

.FooterImgContainer{
    width: 88%;
    height: 44%;
}

.FooterImg{
    margin: 1%;
    width: auto;
    height: 8vh;
}

.FooterButtonContainer{
    width: 88%;
    height: 24%;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.FooterButton{
    width: auto;
    height: 4vh;
    background-color: white;
    border: none;
    font-size: 1.5vh;
}

.FooterText{
    color: gray;
    font-size: 1vh;
}
